
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
h5{
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

.new{
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
.mt{
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;

}

.App-link {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
.App {
  text-align: center;
  background-color: #A1C6EA;
}

.grid{
  position: relative;
  width: 620px;
  top: 10px;
  left: 310px;
  padding: 7px;
  
  margin: 0;
  background-color: #A1C6EA;
  box-shadow: 0.2em 0.2em 0 0.2em rgba(0,0,0,0.17);
  

  


}

